[Desktop Entry]
Name=VN Docker
Comment=Quan ly Docker nhanh
Exec=xterm -e sh -lc 'docker ps; echo; echo "Nhan Enter de thoat"; read -r _'
Type=Application
Categories=System;Development;
Icon=vnde-docker
Terminal=false
