[Desktop Entry]
Name=VN FORUM
Comment=Dien dan noi bo cua VNDE
Exec=vn-forum
Type=Application
Categories=Network;Utility;
Icon=vnde-forum
StartupWMClass=vnde-forum
Terminal=false
