[Desktop Entry]
Name=VN Docker
Comment=Trung tam quan ly Docker cua VNDE
Exec=vn-docker
Type=Application
Categories=System;Development;
Icon=vnde-docker
StartupWMClass=vnde-docker
Terminal=false
