[Desktop Entry]
Name=VN Music
Comment=Nghe nhac truc tuyen
Exec=vn-music
Type=Application
Categories=AudioVideo;Audio;
Icon=vnde-music
StartupWMClass=vnde-music
Terminal=false
